<mat-toolbar color="white">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width full-height">
    <div fxLayoutAlign="start center" class="full-height">
      <button *ngIf="mediaStatus === 'xs'" mat-icon-button (click)="emitToggleAction()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="margin: 3px 0 0 10px">LUCOF</span>
      <div class="menu-wrapper" *ngIf="mediaStatus !== 'xs'">
        <div class="menu-item" 
          [routerLink]="['/']"  
          (click)="calculateLineTransformation($event)">
          Pagina principală
        </div>
        <div 
          class="menu-item" 
          [routerLink]="['/workers']"
          (click)="calculateLineTransformation($event)">
          Executori
        </div>
        <div class="menu-item" 
          [routerLink]="['/projects']"
          (click)="calculateLineTransformation($event)">
          Lucru
        </div>
        <div class="menu-item" (click)="calculateLineTransformation($event)">
          Despre Proiect
        </div>
        <div class="menu-item" (click)="calculateLineTransformation($event)">
          F.A.Q.
        </div>
        <div class="transition-line"
          [style.transform]="transformStyle | safe: 'style'" ></div>
      </div>
    </div>
    <div fxLayoutAlign="start" class="full-height">
      <ng-template [ngIf]="!isLoggedIn">
        <span 
          tabindex="0"
          style="padding: 0 10px;"
          matRipple
          (click)="openLogin()" 
          class="link full-height no-select"
          fxLayoutAlign="start center">
          Login
        </span>
        <span 
          tabindex="0"
          style="padding: 0 10px;"
          matRipple
          (click)="openSignUp()" 
          class="link full-height no-select"
          fxLayoutAlign="start center">
          Înregistrare
        </span>
      </ng-template>
      <ng-template [ngIf]="isLoggedIn">
        <app-profile-menu></app-profile-menu>
      </ng-template>
    </div>
  </div>
</mat-toolbar>