<div fxLayout="row" fxLayoutAlign="end" style="margin-top: -15px;">
  <button mat-icon-button (click)="closeSignUpWindow()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div appCapsLock matDialogContent cdkScrollable (capsLock)="capsOn=$event" class="login-window-wrapper" fxLayout="column" fxLayoutGap="1em">
  <div class="relative">
    <div class="line"></div>
    <div class="title accent">
      Înregistrare
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button>
      Continua cu fb
    </button>
    <button mat-raised-button>
      Continua cu google
    </button>
  </div>
  <form fxLayout="column" fxLayoutGap="0.5em" [formGroup]="signUpFormGroup"> 
    <div fxLayout="column">
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Introduceți email-ul">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Nume</mat-label>
        <input formControlName="username" matInput placeholder="Introduceți numele">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Parola</mat-label>
        <input 
          matInput 
          (focus)="scrollDown()"
          formControlName="password"
          placeholder="Introduceți parola"
          [type]="hidePassword ? 'password' : 'text'"
        >
        <button 
          appStopPropagation
          type="button"
          mat-icon-button 
          matSuffix 
          (click)="hidePassword = !hidePassword" 
          [attr.aria-label]="'hidePassword password'" 
          [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint *ngIf="capsOn" align="end">
          <span class="accent f14">Caps Lock Pornit</span>
        </mat-hint>
      </mat-form-field>
      <mat-error *ngIf="wrongCredentials">
        Login și/sau parolă greșită
      </mat-error>
    </div>
    <button (click)="submitSignUpData()" mat-raised-button color="primary">Înregistrare</button>
  </form>
</div>