
<router-outlet name="modal"></router-outlet>
<ngx-loading-bar color="#FB5721"></ngx-loading-bar>
<mat-drawer-container class="app-wrapper">
  <mat-drawer 
    mode="over"
    class="sidenav"
    fixedInViewport
    #sidenav>
    <app-sidenav (closeSidenav)="sidenav.toggle()"></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <div
      fxFlex.xs="95" 
      fxFlex.sm="95" 
      fxFlex.md="80"
      fxFlex="75" 
      ngClass.xs="xs-wrapper"
      ngClass.sm="sm-wrapper"
      class="router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
