.app-wrapper {
  width: 100vw;
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.router-wrapper {
  margin: 64px auto 0px 97px;
  padding-top: 20px;
}

.xs-wrapper, .sm-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.xs-wrapper {
  margin-top: 57px;
}