@import '../../../assets/scss/variables.scss';

.sidenav-profile-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 200px;
  min-width: 200px;
}

.s-menu-item {
  padding: 10px;
  cursor: pointer;
}
.s-menu-item:hover {
  background: rgba(0,0,0,0.05);
}

.s-active {
  background: rgba(0,0,0,0.05);
}

.s-line {
  height: 39px;
  width: 2px;
  background: $primary;
  position: absolute;
  transition: transform 225ms ease;
}

.s-active.p1 ~ .s-line {
  transform: translateY(0);
}

.s-active.p2 ~ .s-line {
  transform: translateY(40px);
}

.s-active.p3 ~ .s-line {
  transform: translateY(80px);
}

.router-outlet-wraper {
  margin: 0 20px;
}

.mobile-top-padidng {
  padding-top: 20px;
}
