@import './assets/scss/general.scss';
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/scss/theme';
@import './assets/scss/variables.scss';
@import './assets/scss/utils.scss';
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.full-screen-dialog {
    height: 100vh;
    width: 100vw !important;
    max-width: none !important;
  }

div[ng-reflect-router-link]:hover, div[ng-reflect-router-link]:active, div[ng-reflect-router-link]:focus {
    outline: none;
    border: 0;
}

.link:hover,
.link:active,
.mob-menu-item:focus,
.mob-menu-item:hover,
.mob-menu-item:active {
    outline: none !important;
    border: 0 !important;
    // border: 1px solid black;
}

.link:focus {
    background: rgba(0,0,0,0.05);
    outline: none;
}